
.center {
    margin-top: 10px;
    margin-left: 280px;
    transform: translate(-50%, -50%);
    cursor: pointer;
    width: 30px;
}

.center:before,
.center:after,
.center div {
    background: #fff;
    content: "";
    display: block;
    height: 6px;
    border-radius: 3px;
    margin: 7px 0;
    transition: 0.5s;
}

.center:hover:before {
    transform: translateY(12px) rotate(135deg);
}

.center:hover:after {
    transform: translateY(-12px) rotate(-135deg);
}

.center:hover div {
    transform: scale(0);
}


.menu {
    border-radius: 10px;
    width: 300px;
    height: auto;
    background: #333;
    color: #ccc;
    padding: 10px;
    position: fixed;
    left: -265px;
    transition: left 900ms cubic-bezier(0.68, -0.55, 0.265, 1.55);

}

.icon {
    width: 100%;
    height: 100%;
    margin-top: 30px;
    cursor: pointer;
    display: flex;
    justify-content: space-between


}

.menu.animate {
    left: 0;
}

img {
    height: 50px;
    width: 50px;
    cursor: pointer;

}

.window {
    margin-left: 400px;
}